/* Global Styles and Resets */
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('../images/cactus_photo.jpg');
    background-size: cover; /* Changed to cover for better background handling */
    background-repeat: no-repeat;
    background-position: center;
}

/* Typography */
h2, .navbar-brand {
    text-align: center;
    font-size: 2em; /* Consolidated font size for navbar-brand here */
    margin-bottom: 0px;
}

/* Navigation */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure navbar is always on top */
}

/* Main Layout Components */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 10px;
    font-size: 0.75em;
}

/* Specific Components */
#welcome, #resources, #faith-content {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-sizing: border-box;
}

#welcome {
    color: white;
    width: 40%;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
}

#resources, #faith-content {
    top: 85px;
    bottom: 60px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
}

/* List Styles */
#resources ul, #resources dl, #faith-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#resources li, #resources dt, #faith-content ul li {
    padding: 5px 0;
    margin-bottom: 15px;
}

#resources dd {
    margin-left: 20px;
}

#resources a, #resources a:hover {
    color: #6495ED;
    text-decoration: none;
}

#resources a:hover {
    color: #4169E1;
    text-decoration: underline;
}

/* Flex Containers */
.h3-container, .contact-page .h3-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.h3-section {
    flex: 1;
    min-width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Mobile styles */
@media (max-width: 768px) {
    #welcome {
        left: 50%; /* Center the container */
        width: 80%; /* Adjust width for smaller screens */
        text-align: center; /* Center the text within the container
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .h3-container {
        flex-direction: column; /* Stack vertically on small screens */
    }

    .map-container {
        order: -1; /* Move map above the text on mobile */
    }
}

/* Desktop styles */
@media (min-width: 769px) {
    .h3-container {
        flex-direction: row; /* Side by side on larger screens */
    }

    .map-container {
        order: 1; /* Ensure map is after the text on desktop */
    }

    .h3-section {
        order: 0; /* Ensure text is before the map on desktop */
        flex: 1; /* Take up the remaining space */
    }
}

/* Contact Page Specific Styles */
.contact-page .map-container {
    position: relative;
    width: 100%; /* Make map container responsive */
    height: 0;
    padding-top: 56.25%; /* Maintain aspect ratio */
    overflow: hidden;
}

.contact-page .map-container iframe, 
.contact-page .map-container object, 
.contact-page .map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 450px;
}

.google-calendar {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 110%; /* Ensures the container takes full height of its parent */
    padding: 20px; /* Optional: Adds some padding around the iframe */
}

h2, h3 {
    margin-bottom: 15px; /* Adds space below headings */
}

ul {
    padding-left: 20px; /* Indents the list */
    line-height: 1.6; /* Increases line height for better readability */
}

li {
    margin-bottom: 10px; /* Adds space between list items */
}